
@import "options";
@import "mixins";


@font-face {
    font-family: "Overpass";
    src: url("./fonts/Overpass/Overpass-Regular.ttf");
}
@font-face {
    font-family: "Overpass";
    src: url("./fonts/Overpass/Overpass-Bold.ttf");
		font-weight: bold;
}
@font-face {
    font-family: "Overpass";
    src: url("./fonts/Overpass/Overpass-Italic.ttf");
		font-style: italic;
}
@font-face {
    font-family: "Arvo";
    src: url("./fonts/Arvo/Arvo-Regular.ttf");
}
@font-face {
    font-family: "Arvo";
    src: url("./fonts/Arvo/Arvo-Bold.ttf");
		font-weight: bold;
}
@font-face {
    font-family: "Arvo";
    src: url("./fonts/Arvo/Arvo-Italic.ttf");
		font-style: italic;
}



body {
	// height:100%;
	font-family:'Overpass';
	overflow-y: auto;
  h1:nth-of-type(1){
    margin-left:3rem;
    text-align:center;
    color:$color-Primary;
  }
}

h1,h2,h3 {
	font-family:'Arvo';
}
h1 {
  letter-spacing:0.5px;
}
h2 {
	letter-spacing:0px;
}
h3 {
	font-weight:normal;
	letter-spacing:0px;
}
li {
	line-height:1.5rem;
}
main {
	max-width: 80rem;
}
::selection {
  background: $color-Secondary;
  color:black;
}
body {
	color:#333;
}
header {
	padding:3rem 3rem 0;
	// height:10rem;
  overflow:visible;
	z-index:820;
	// max-width:90rem!important;
}
.show {
  visibility:visible!important;
  opacity:1!important;
}
nav {
  display:flex;
  flex-direction:row;
  // justify-content:center;
  overflow:visible;
  padding:0;
  width:100%;
  & > a {
    align-self:flex-start;
  }
  & > ul {
    align-self:flex-end;
  }
}
.navli {
  & a {
    letter-spacing:0!important;
  	color:$color-Primary;
  	border-radius:34px;
  	padding:0.75rem 1.6rem!important;
  	margin-right:0.2rem!important;
  	transition: background-color 0.5s, color 0.5s;
    display:inline-block;
  	padding:1rem;
  	margin: auto;
    font-size:1rem;
    &:hover, &:focus, &:focus-within {
      background-color:$color-Primary;
      color:white;
      background-image:none;

    }
  }

  & ul {
    position:absolute;
    visibility:hidden;
    opacity:0;
    display:flex;
    justify-content: flex-start;
    flex-flow:column;
    margin-top:2rem;
    margin-left:-4rem;
    // left:-2rem;
    // top:1.2rem;
    // object-fit:fill;
    z-index:820;
    color:white;
    background-color:$color-Primary;
    padding:1rem;
    border-radius:20px;
    box-shadow:-1px 14px 30px -2px rgba(1,1,1,1);
    transition:all 0.3s;
    & a {
      color:white;
      border-radius:0;
      border-bottom:2px solid transparent;
      width:100%;
    }
    &::after {
      content:'';
      position:absolute;
      top:-20px;
      left:40%;
      width:40px;
      height:40px;
      background-color:$color-Primary;
      transform:rotate(45deg);
      z-index:80;
    }
    & li {
      text-align:center;
      border-bottom: 2px solid $color-Tertiary;
      width:100%;
      margin-bottom:0;
      background-image:none;
      z-index:81;
      &:last-of-type {
        border-bottom:0;
      }
    }
    & li a:hover {
      background-color: $color-Tertiary;
      color:$color-Secondary-Light;
      background-image:none;
    }
  }
}


#LandingSpace {
	width:100%;
	height:clamp(30rem, 50%, 220rem);
  // max-height:70rem;
	background-color:transparent;
	position:relative;
	top:-10rem;
	display:block;
	z-index:10;
  overflow-y:visible;
}
#LandingSpaceContainer {
width:100%;
height:100vh;
max-width:90rem;
max-height:90rem;
margin:0 auto;
display:block;
position:relative;
top:0;
}
#LandingSpaceImage {
// width:80%;
overflow:visible;
position:absolute;
bottom:0;
right:0;
// width:clamp(20rem,100%,80rem);
width:100%;
max-height:80rem;
max-width:40rem;
z-index:80;
}
#LandingSpaceText{
	position:relative;
	left:4rem;
	top: 12rem;
	display:inline-block;
	background-color:#f9f9f9;
	box-shadow:-2px 16px 18px -3px rgba(10,10,10,0.4);
	border-radius:20px;
	padding:2rem;
	// width:30vw;
	max-width:38rem;
	text-align:center;
	color:$color-Primary;
	z-index:120;
  transform:scale(0.9);
	& h1 {
		font-size:2.6rem;
		padding-bottom:1rem;
    margin-left:0;
		border-bottom: 1px solid $color-Primary;
	}
	& p {
	font-size:1rem;
	line-height:2rem;
	padding-left:4rem;
	padding-top:1.6rem;
	padding-right:4rem;
  padding-bottom:0;
  margin-bottom:0;
	text-align:center;
		color:#666;
	}
}
.LandingSpaceShapes{
	position:absolute;
	z-index:8;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
	&:nth-of-type(1) {
		animation-name:layershapes1;
		animation-duration:8s;
		animation-timing-function:linear;
		animation-direction: normal;
		animation-iteration-count: infinite;
	}
	&:nth-of-type(2) {
		animation-name:layershapes2;
		animation-duration:10s;
		animation-timing-function:linear;
		animation-direction: normal;
		animation-iteration-count: infinite;
	}
	&:nth-of-type(3) {
		animation-name:layershapes3;
		animation-duration:9s;
		animation-timing-function:linear;
		animation-direction: normal;
		animation-iteration-count: infinite;
	}
}


@keyframes layershapes1 {
	0% {
		left:-5%;
    top:0%;
		// bottom:-20%;
		opacity:0;
		transform:scale(0.6);
	}
	10% {
		opacity:1;
	}
	90%{
		opacity:1;
	}
	100%{
		left:-15%;
    top:-10%;
		// bottom:-10%;
		opacity:0;
		transform:scale(1);
	}
}
@keyframes layershapes2 {
	0% {
		right:-25rem;
    bottom:-30rem;
		// bottom:-20%;
		opacity:0;
		transform:scale(0.2);
	}
	10% {
		opacity:1;
	}
	90%{
		opacity:1;
	}
	100%{
		right:-30rem;
		// bottom:0%;
    bottom:-20rem;
		opacity:0;
		transform:scale(0.4);
	}
}
@keyframes layershapes3 {
	0% {
		right:-10%;
		bottom:-30%;
		opacity:0;
		transform:scale(0.2);
	}
	90% {
		right:18%;
		bottom:-42%;
		opacity:0.2;
	}
	100%{
		right:20%;
		bottom:-45%;
		opacity:0;
		transform:scale(0.4);
	}
}
input[type='textarea'] {
  box-shadow:2px 3px 9px -4px #aaa inset;
  outline:0;
  border:none;
  padding:1rem;
  border-radius:6px;
  width:100%;
}
footer a {
  text-decoration:none;
  color:white;
  &:hover {
    text-decoration:underline;
  }
}
#FooterToes {
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  border-top:1px solid $color-Primary-Dark;
  background-color:$color-Primary;
}
.footerRow {
	position:relative;
	width:100%;
	min-height:4rem;
	background-color:$color-Primary;
	margin:0;
	font-size:0.8rem;
  padding:2.5rem 1rem 3rem;
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items:flex-start;
  box-shadow:0px 10px 22px -6px $color-Primary-Dark inset;
  .footerDiv {
    min-width:20rem;
    max-width:30rem;
  }

  table {
    font-size:0.8rem;
    width:100%;
    letter-spacing:0.3px;
    th {
      font-weight:bold;
      font-size:0.85rem;
      letter-spacing:0.6px;
    }
    td {
      font-size:0.6rem;
    }
    th, td {
      hyphens:none;
      padding-bottom:10px;
      min-width:10rem;
    }
  }
}
.footerContactGrid {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  * {
    float:left;
  }
  a {
    color:white;
    min-width:14rem;
    display:inline-block;
    text-align:center;
    margin-bottom:0.3rem;
    padding:12px 16px;
    border-radius:10px;
    transition:background-color 0.3s;
    &:hover{
    background-color:adjust-color($color-Primary, $saturation: -7%, $lightness: -7%);
}
    p{
      width:calc(80% - 3.5rem);
      margin-bottom:0;
    }
  }
}
.socialIcon{
  width:1.5rem;
  margin-left:1rem;
  margin-right:1rem;
}
.container > h2 {
	color:$color-Primary;
	text-align:center;
	font-weight:bold;
}
.padded {
	padding:2rem;
}
.ta-left {
	text-align:left;
}
.ta-center {
	text-align:center;
}

.cascadeBlock {
	& li {
		color:#666;
	}
	& ul {
		color:#666;
	}
	& .row {
		display:flex;
		align-items:center;
		flex-flow:column wrap;
    justify-content:space-around;
	}
	& h2,& h3 {
		text-align:center;
		margin-bottom:2rem;
		border-bottom:2px solid $color-Primary;
		color:$color-Primary;
	}
	& .column {
		margin-bottom:2rem;
	}
	& .cascadeBlock__text {
		width:100%;
		box-shadow:-2px 15px 30px -20px #333;
		border-radius:20px;
		padding:2rem;
		z-index:10;
		max-width:48rem;
    order:2;
	}
  &.cascadeBlock--plain .cascadeBlock__text {
    box-shadow:none;
  }
	& .cascadeBlock__img {
		width:100%;
		z-index:8;
	}
}
.uheader {
  border-bottom: 2px solid $color-Primary;
  width:80%;
  margin: 0 auto;
  padding-bottom:2rem;
}
#backToTop {
  width:40px;
  height:40px;
  display:block;
  position:fixed;
  top:calc(100% - 5rem);
  right:3rem;
  z-index:800;
  border:2px solid $color-Primary;
  border-radius:3rem;
  background-color:white;
  opacity:0;
  visibility:hidden;
  transition:opacity 0.5s, visibility 0.5s;
  &::after {
    content:"";
    border-top:2px solid $color-Primary;
    border-left:2px solid $color-Primary;
    z-index:801;
    position:absolute;
    top:15px;
    left:13px;
    height:10px;
    width:10px;
    transform:rotate(45deg);
  }

}
.showbtt {
  opacity:1!important;
  visibility:visible!important;
}
.faqsDiv{
  display:flex;
  flex-flow:column nowrap;
}
.faqEntry{
  width:100%;
  max-width:50rem;
  margin:0.2rem auto;
  padding:1rem 1.5rem 0rem;
  color:#555;
  cursor:pointer;
  &:hover {
    // background-color:#fafafa;
    outline:1px solid #ededed;
  }
  &:hover h3 {

    background: linear-gradient(to bottom right, #ffffff, #efefef);
  }
  & h3 {
    padding:1.75rem 1rem 1.75rem 2.25rem;
    // color:white;
    border-top-right-radius:20px;
    position:relative;
    font-size:1.3rem;
    background: linear-gradient(175deg, #fcfcfc 40%, #e5e5e5);
    // border-left:4px solid $color-Primary;
    &::after {
      content: "";
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:6px;
      background-color:$color-Primary;
      z-index:400;
    }
  }
  & p {
    padding:0;
    padding-left:3rem;
    padding-right:3rem;
    visibility:hidden;
    position:relative;
font-size:1rem;
    opacity:0;
    // margin-top:2rem;
    display:block;
    border-top:4px solid $color-Secondary;
    transition:max-height 0.3s, visibility 0.3s, opacity 0.3s;
    color:$color-Primary;
    max-height:0;
    background-color:#fff;
    background: linear-gradient(to right, #ffffff 60%, #f1f1f1);
    &::after {
      content: "";
      position:absolute;
      left:0;
      top:-2.2rem;
      height:calc(100% + 2.2rem);
      width:6px;
      background-color:$color-Primary;
      z-index:400;
    }
  }
}
.faqShow {
  // background-color:purple;
  visibility:visible!important;
  // height:auto!important;
  max-height:100rem!important;
  opacity:1!important;
  padding:2rem 4rem!important;
}

.hero{
  width: 100vw;
 position: relative;
 margin-left: -50vw;
 // height: 100px;
 // margin-top: 100px;
 left: 50%;
 padding:0;

}
.hero__text {
  background-color:white;
  color:$color-Primary;
  border-radius:20px;
  padding:1.75rem;
  display:block;
  max-width:50rem;
  h2 {
  text-align:center;
  padding:1rem 1rem 2rem;
  margin-left:3rem;
  margin-right:3rem;
  border-bottom: 2px solid $color-Secondary;
  margin-bottom:2rem;
  }
  p{
padding:0.5rem 2rem 0.5rem;
margin-bottom:0;
max-width:30rem;
  }
}

.card {
  padding:1rem;
  margin:0.2rem auto;
  min-width:12rem;
  width:clamp(12rem, 30%, 40rem);
  // box-shadow: -1px 8px 15px -10px #555;
  border-radius:28px;
display:flex;
flex-flow:column wrap;
max-width:40rem;
  h2 {
    font-size:1.4rem;
    padding-bottom:0.75rem;
    border-bottom:2px solid $color-Secondary;
    color:$color-Primary
  }
  h3 {
    font-size:1.2rem;
    color:#777;
    margin-left:1rem;

  }
  .card__image {
    border-radius:140px;
    margin:0 auto 2rem;
    width:8rem;
    height:8rem;
    position:relative;
    // left:calc(50% - 4rem);
    box-shadow:-3px 5px 20px -2px #333;
  }
  p, ul {
    padding:1.2rem 1.2rem;
  }
  p {
    text-indent:2rem;
  }
  li {
    margin-bottom:0.2rem;
  }
}

@media(max-width:768px){
  .navli {
    display:none;
  }
  #LandingSpaceText{
    width:calc(100vw - 2rem);
    max-width:100vw;
    left:1rem;
    // left:1rem;
    margin:0 auto;
    // transform:scale(0.7);
  }
  #LandingSpace {
    height:100%;
  }
  #LandingSpaceImage {
  width:100%;
  max-width:100%;
  position:absolute;
  // bottom:0;
  right:0%;
  top:30%;
  // margin-top:30vh;
  // width:60%;
  // max-width:82rem;
  z-index:80;
  & * {
    max-width:100vw;
  }
  }

}
@media(max-width:426px){
  #LandingSpaceText{
    width:100vw;
    // max-width:100vw;
    left:0;
    // left:1rem;
    margin:0 auto;
    // transform:scale(0.7);
  }
}
@media (max-width: 60rem) {
	.cascadeBlock {
		& .cascadeBlock__text {
			width:80%;
			order:2;
		}
		& .cascadeBlock__img {
			order:1;
		}
	}
  .card{
  width:clamp(12rem, 100%, 40rem);
}
}
@media (min-width: 60rem) {
  .row {
    flex-direction:row!important;
    flex-wrap:nowrap;

  }
  .cascadeBlock {
    & .row {
      flex-direction:row;
    }
		& .cascadeBlock__text {
			// width:70%;
      flex:1 1 48%;
      max-width:48%;
		}
		& .cascadeBlock__img {
			// width:90%;
      flex:1 1 48%;
      // max-width:48%;
      height:100%;
		}

	}
  .cascadeBlock:nth-of-type(even) .cascadeBlock__img {
    order: 3!important;
  }
}
